@tailwind base;
@tailwind components;
@tailwind utilities;
body,p,div{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

}
h1,h2,h3,h4,h5{
  font-family: 'Kumbh Sans', sans-serif;
}
footer h3{
  @apply text-srwhite text-2xl font-bold leading-7 pb-3.5;
}
footer ul li{
  @apply text-srwhite text-base leading-4 pb-2.5;
}
.the-footer-bg{
  display: none;
}
@screen xl{
  .the-footer-bg{
    display: block;
    width: 176px;
    margin-top: -351px;
    margin-left: 52.8%;
  }
}


@responsive {
  .footer-has-bg{
    @apply bg-no-repeat bg-center;
    background-image: url('~/assets/images/doted-footer.webp');
  }
}

